label {
  display: block;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  color: #363838;
  margin-bottom: 10px;
}
label .desc {
  font-weight: 300;
  color: #84898c;
}
.checkbox,
.radio {
  margin-top: 0;
}
.checkbox label,
.radio label {
  min-height: auto;
  margin-bottom: 10px;
}
input[type=checkbox],
input[type=radio] {
  margin-top: 1px;
}
.checkbox {
  margin-bottom: 24px;
}
.checkbox label {
  margin: 0;
}
.checkbox label a {
  border-bottom: dashed #84898c 1px;
  transition: .2s;
}
.checkbox label a:hover {
  border-bottom: dashed #363838 1px;
  text-decoration: none;
}
.form-group {
  position: relative;
  margin-bottom: 24px;
}
.form-group input[readonly] {
  background-color: #fff;
}
.form-group.form-group-lifted {
  margin-top: -8px;
}
.form-control {
  border-radius: 4px;
  height: auto;
  font-size: 14px;
  padding: 8px 14px;
  padding-right: 42px;
  box-shadow: none;
  border: solid #ddd 1px;
}
input[type="text"].form-control,
input[type="password"].form-control {
  line-height: 24px;
}
input:-internal-autofill-selected {
  background-color: #fff !important;
  background-image: initial !important;
  color: #363838 !important;
}
textarea.form-control {
  padding-top: 16px;
  padding-bottom: 16px;
  resize: none;
}
select.form-control {
  height: 42px;
}
.form-control:focus,
.form-control:active,
.form-control:not(:empty) {
  box-shadow: none;
  border-color: #ddd;
  background-color: transparent;
}
.form-control::placeholder,
.mab-jquery-taginput-input::placeholder {
  visibility: hidden;
}
.mab-jquery-taginput.form-control {

}
.form-group > label:not(.btn):not(.fileContainer) {
  font-weight: 400;
  color: #84898c;
  position: absolute;
  top: 12px;
  left: 25px;
  background-color: #fff;
  border-radius: 4px;
  padding: 2px 4px;
  margin: 0;
  transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  z-index: 101;

  top: -9px;
  font-size: 12px;
  color: #363838;
}
/*.form-group > label:not(.btn):not(.fileContainer).active {
  top: -9px;
  font-size: 12px;
  color: #363838;
}*/
.form-group .form-comment {
  color: #84898c;
  font-size: 12px;
}
form .row .form-group:last-child .form-comment {
  margin-bottom: 0 !important;
}
form .row .form-group .form-comment:last-child {
  margin-bottom: 12px;
}
form .row .form-group input + .form-comment,
form .row .form-group select + .form-comment,
form .row .form-group textarea + .form-comment,
form .row .form-group label + .form-comment,
form .row .form-group .checkbox + .form-comment,
form .row .form-group .btn-group + .form-comment {
  margin-top: 6px;
}
form .row .form-group .form-comment + .form-comment {
  margin-top: 4px;
}
.form-group .form-comment.form-comment-info,
.form-group .form-comment .form-comment-inner-info {
  color: #658dc6;
}
.form-group .form-comment.form-comment-danger,
.form-group .form-comment .form-comment-inner-danger {
  color: #d63f2c;
}
.form-group .btn-group {
  display: block;
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.btn-group>.btn,
.input-group-btn:first-child>.dropdown-toggle,
.input-group-btn:last-child>.btn-group:not(:last-child)>.btn,
.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
  border-right: none;
}
.input-group-btn .btn {
  height: 42px;
}
.input-group-btn>.btn:active,
.input-group-btn>.btn:focus,
.input-group-btn>.btn:hover {
  z-index: 0;
}
.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
  min-width: 124px;
}