/* Модальное окно */
.modal .modal-dialog {
  /*width: 560px;*/
  margin-top: 45px;
  overflow: hidden;
}
.modal .modal-dialog.modal-lg {
  /*width: 900px;*/
}
.modal .modal-content {
  border-radius: 6px;
  border: none;
  background-color: #fff;
}
.modal .modal-content .modal-header {
  background-color: transparent;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 20px 24px 0 24px;
  border-bottom: none;
}
.modal .modal-content .modal-header h2,
.modal .modal-content .modal-header h4 {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0;
}
.modal .modal-content .modal-header .modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  background: url('/img/modal/modal-close.svg') center no-repeat;
  background-size: 16px;
  cursor: pointer;
  opacity: .2;
  transition: .2s;
}
.modal .modal-content .modal-header .modal-close:hover {
  opacity: 1;
}
/*.modal .modal-content .modal-header .item-add {
  position: absolute;
  right: 30px;
  top: 7px;
}
.modal .modal-content .modal-header .item-add .btn {
  background: none;
  color: #fff;
  text-decoration: underline;
}
.modal .modal-content .modal-header .item-add .btn:hover {
  text-decoration: none;
}*/
.modal .modal-content .modal-body {
  background-color: transparent;
  padding: 24px;
}
.modal .modal-content .modal-body::after {
  content: '';
  display: block;
  clear: both;
}
.modal .modal-content .modal-body .text p a {
  text-decoration: underline;
}
.modal .modal-content .modal-body .text p a:hover {
  text-decoration: none;
}
.modal .modal-content .modal-body .form-group {
  margin-bottom: 15px;
}
.modal .modal-content .modal-body *:last-child {
  margin-bottom: 0;
}
.modal .modal-content .modal-body .modal-body-content {
  min-height: 450px;
}
.modal .modal-content .modal-body .modal-body-content * {
  visibility: hidden;
}
.modal .modal-content .modal-body .modal-body-content.active * {
  visibility: visible;
}
.modal .modal-content .modal-body .loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -17px;
  margin-left: -17px;
  z-index: 101;
}
.modal .modal-content .modal-body .checkbox {
  margin-bottom: 16px;
  border: solid #ddd 1px;
  border-radius: 4px;
}
.modal .modal-content .modal-body .checkbox label {
  padding: 12px;
  padding-left: 32px;
}
.modal .modal-content .modal-footer {
  border-top: none;
  background-color: transparent;
  padding: 8px;
}
.modal .modal-content .modal-footer .btn-wrapper {
  float: right;
}
.modal .modal-content .modal-footer .btn-wrapper::after {
  content: '';
  display: block;
  clear: both;
}
.modal .modal-content .modal-footer .btn-wrapper .btn {
  float: left;
  text-transform: uppercase;
  margin-left: 0;
  border: none;
  font-weight: 700;
}
.modal .modal-content .modal-footer .btn-wrapper .btn:last-child {
  margin-left: 8px;
}

/* Fix right scrollbar */
/*body { padding-right: 0 !important }*/
/*.modal-open {
  overflow: scroll;
}*/

.modal-open {
  /*overflow: auto;*/
  padding-right: 0 !important;
}

/* Prepare to animate.css */
.modal.fade .modal-dialog {
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  transform: translate(0);
}

/* ---------------------------------------------------------------------------------------------------- */

/* md */
@media (max-width: 1200px){



}

/* sm */
@media (max-width: 992px){



}

/* xs */
@media (max-width: 767px){



}

/* xxs */
@media (max-width: 480px){



}